.main-section {
    background-color: #EFF1F0;
    height: 100vh;
    width: 100%;
    display: flex;

}

.main-section > div {
    width: 50%;
    height: 100%;
    padding: 20px;
}



.tasks h2{
    text-align: center;
    margin-bottom: 30px;
    color: rgb(92, 91, 91);
}

.main-section .card {
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    width: 90%;
    margin: auto;
    min-width: 200px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(92, 91, 91);
    transition: all 0.3s ease;
     font-weight: 300;
    font-size: 15px;
}



.main-section .card div {
    display: flex;
    gap: 10px;
}

.task-priority.high {
  color: red;
}

.task-priority.medium {
  color: orange;
}

.task-priority.low {
  color: green;
}


.dot {
    font-size: 50px;
}

#task-name {
    font-size: 30px;
}
span {
    height: 80%;
    margin: auto 0;
    border: 1px solid #DFE2E1;
}

.card:hover {
    background-color: #E7EAE9;
    cursor: pointer;}

.task-card img {
    scale: 1.3;
    transition: all 0.3s ease;
    width: 20px;
}

.task-card img:hover {
    transform: rotate(25deg);
}

.task-card img:active {
    transform: scale(1.2) rotate(25deg);
}

.addTasks h2 {
    text-align: center;
    margin-bottom: 30px;
    color: rgb(92, 91, 91);
}

.addTasks input {
    width: 90%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
    border: 1px solid #DFE2E1;
    font-size: 25px;
    font-weight: 300;
    display: block;
    
}

.addTasks select {
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
    border: 1px solid #DFE2E1;
    font-size: 20px;
    font-weight: 300;
    display: block;
}

.addTasks select:hover {
    cursor: pointer;}

.addTasks button {
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
    border: none;
    background-color: rgb(92, 91, 91);
    color: white;
    font-size: 20px;
    font-weight: 300;
    display: block;
    transition: background-color 0.3s ease;
}

.addTasks button:hover {
    background-color: black;
    cursor: pointer;
}

@media (max-width: 600px) {
    .main-section .card {
        flex-direction: column;
        height: fit-content;
    }

    .main-section {
        flex-direction: column;
    }

    .main-section > div {
        width: 88%;
    }

    span {
        width: 0;
        height: 0;
    }
}
