@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap');
.navbar {
    display: flex;
    align-items: center;
    height: fit-content;
    font-family: "Stack Sans Notch", sans-serif;
    border-radius: 5px;
    background-color: white;
    padding: 5px;
}

.navbar-logo {
    font-size: 20px;
    margin: 0 auto;
}

img {
    width: 20px;
    color: black;
    transform: translateX(-20px);
    transition: scale 0.3s ease;
    cursor: pointer;
}

img:hover {
    scale: 1.2;
    transform: translateX(-20px);
}

img:active {
    scale: 1.3;
    transform: translateX(-20px);
}


@media (max-width: 600px) {
    img {
        width: 20px;
    }
}
