.sidebar {
    width: fit-content;
    display: flex;
    flex-direction: column;
    background-color: #DFE2E1;
    height: 100vh;
    gap: 5px;
    color: rgb(92, 91, 91);
    padding: 20px;
}

.sidebar .card {
    background-color: #EFF1F0;
    padding: 8px;
    border-radius: 15px;
    width: fit-content;
    min-width: 200px;
    height: 25px;
    display: flex;
    align-items: center;
    color: rgb(92, 91, 91);
    font-weight: 300;
    font-size: 20px;
    transition: all 0.3s ease;
}

.card:hover {
    background-color: #E7EAE9;
    cursor: pointer;
}



.sidebar-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar-section > p {
    font-size: 15px;
    font-weight: 300;
    margin: auto;
    background-color: #EFF1F0;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
}
.sidebar-divider {
    border: 0.1px solid #EFF1F0;
    border-radius: 300px;
    margin: 20px;
}

.sidebar-greeting {
    margin-top: 20px;
    font-size: 30px;
}

.priority-card.priority-high {
    color: red;
}

.priority-card.priority-medium {
    color: orange;
}

.priority-card.priority-low {
    color: green;
}

@media (max-width: 600px) {
    .sidebar {
        height: 100vh;
        padding: 10px;
        width: 30vw;
    }

    .sidebar .card {
        width: 90%;
        padding: 8px;
        min-width: 20px;
    }
}